<!--ログアウト時のabout画面-->
<body>
  <main>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">
          <h1>welcome to </h1><i class="fa fa-book"></i><h1>Bookers !!</h1>
          <p>In</p><i class="fas fa-book"></i><p>Bookers, </p>
        </h1>
          
                
 
      </div>
    </div>
  </main>
</body>
