<!--ログアウト時のabout画面-->

  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>welcome to <i class="fa fa-book"></i>Bookers !!</h1>
        <p>In<i class="fas fa-book"></i>Bookers, </p>
      </div>
    </div>
  </div>
